{% load static %}

<!DOCTYPE html>

<html>

    <head> 

        <title> {% block title %}{% endblock %} </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css">
        <link rel="stylesheet" href="{% static 'dist/tailwind.css' %}"/>
        <script defer src="{% static 'dist/main.js' %}"> </script>
        
    </head>
    <body class="antialiased bg-dark w-full h-full font-Poppins flex flex-col items-center"> 

        <div class="header w-full">

            {% block header %}
            {% endblock %}

        </div>

        <div class="content w-full">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer w-full">
             {% block footer %} {% endblock %}  
        </div>
    </body>

</html>

