@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    .skillbox-flex {
        @apply flex flex-wrap lg:flex-row items-center p-4 justify-start bg-darklight;
    }

    .skillbox-hidden {
        @apply hidden;
    }

    .category-toggled{
        @apply w-36 h-12  uppercase font-bold text-turq border-2 border-turq focus:ring focus:outline-none;
    }

    .category-untoggled{
        @apply w-36 h-12  uppercase font-bold border-gray-100 text-gray-100 focus:text-turq hover:text-turq border-2 hover:border-turq focus:ring focus:outline-none focus:border-turq;
    }

    .center-category-toggled{
        @apply w-36 h-12 uppercase font-bold hover:text-turq border-2 mx-2 border-turq focus:ring focus:outline-none;
    }

    .center-category-untoggled{
        @apply w-36 h-12 uppercase font-bold border-gray-100 text-gray-100 hover:text-turq border-2 mx-2 hover:border-turq focus:border-turq focus:ring focus:outline-none;
    }

}


@font-face{
    font-family:'Poppins';
    font-weight:100;
    src: url('static/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:200;
    src: url('static/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:300;
    src: url('/static/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:400;
    src: url('/static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:500;
    src: url('/static/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:600;
    src: url('/static/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:700;
    src: url('/static/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:800;
    src: url('/static/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins';
    font-weight:900;
    src: url('/static/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}