@media screen and (max-device-width : 677px) { 
    
    #footer {
        border-style : dotted;
        border-width : thin;
        color : red;
        padding : 0.8em;
        font-size : 0.9em;
        margin-bottom : 2.0em;
    }

    #header {
        border-style : dotted;
        border-width : thin;
        color : rgb(106, 129, 5);
        padding : 0.5em;
        font-size : 0.9em;
    }

    blockquote.quotes {
        border-width: thin;
        border-style: solid;
        padding-top : 1.2em;
        margin-top : 1.2em;
        color : red;
    }

}